<footer id="footer">
  <p>&copy; 2024 Sarah Woods Art. All Rights Reserved.</p>
  <p><a href="/privacy-policy/" style="font-size: 0.8rem; color: #aaa; text-decoration: none; border-bottom: 1px solid #ddd; padding-bottom: 1px;">Privacy Policy</a></p>
  <p>
    <a href="https://instagram.com/sarahwoods_art" title="follow on Instagram">
      <img src="/images/socials/instagramFooterIcon.png" alt="Instagram Logo">
    </a>
    <a href="https://linktr.ee/sarahwoodsartist" title="Linktree">
      <img src="/images/socials/linktreeFooterIcon.png" alt="Linktree Logo">
    </a>
    <a href="mailto:sarahwoodsartist@gmail.com" title="email me">
      <img src="/images/socials/emailFooterIcon.png" alt="Email Logo">
    </a>
  </p>
</footer>
